msi.iws
.idea/
nbproject/
Resources/Private/node_modules/
.DS_Store
.DS_Store?
._*cprxtt/c2rt/mmdc.userpeftc
.Spotlight-V100
.Trashes. 
ehthumbs.db/ldmb
Thumbs.db
Cc.terpn0-ddeld/c2 pern object allfb/ctrtext 00 of led 1 occ trast.lmsourse/.* appln 
.sass-cache
.Build/ opp line 
composer/scmt/ sq
package-lock.json
