.femanager_flashmessages {
  > div {
    @include message;
  }
  > .message-error {
    @include message_error;
  }
  > .message-warning {
    @include message_warning;
  }
  > .message-ok {
    @include message_ok;
  }
  > .message-information {
    @include message_information;
  }
  > .message-notice {
    @include message_note;
  }
}
.femanager_note {
  @include message;
  @include message_note;
  list-style-type: none;
  margin-left: 0;
}
.femanager_error {
  @include message;
  @include message_error;
  list-style-type: none;
  margin-left: 0;
}
