@mixin message {
  background: {
    position: 10px 12px;
    repeat: no-repeat;
  }
  margin-bottom: 4px;
  padding: 12px 12px 12px 36px;
}
@mixin message_error {
  background: {
    color: $errorSoft2;
    //image: url("../../../../../../typo3/sysext/t3skin/icons/gfx/error.png");
  }
  border: 1px solid $errorSoft;
  color: $error;
}
@mixin message_warning {
  background: {
    color: $warningSoft2;
    //image: url("../../../../../../typo3/sysext/t3skin/icons/gfx/warning.png");
  }
  border: 1px solid $warningSoft;
  color: $warning;
}
@mixin message_note {
  background: {
    color: $noteSoft2;
    //image: url("../../../../../../typo3/sysext/t3skin/icons/gfx/notice.png");
  }
  border: 1px solid $noteSoft;
  color: $note;
}
@mixin message_ok {
  background: {
    color: $okSoft2;
    //image: url("../../../../../../typo3/sysext/t3skin/icons/gfx/notice.png");
  }
  border: 1px solid $okSoft;
  color: $ok;
}
@mixin message_information {
  background: {
    color: $informationSoft2;
    //image: url("../../../../../../typo3/sysext/t3skin/icons/gfx/information.png");
  }
  border: 1px solid $informationSoft;
  color: $information;
}
