// ----- COLORS -----
$error: #AA0225;
$errorSoft: #D66C68;
$errorSoft2: #F6D3CF;
$warning: #9E7D4A;
$warningSoft: #B1905C;
$warningSoft2: #FBF6DE;
$note: #444;
$noteSoft: #C2CBCF;
$noteSoft2: #F6F7FA;
$ok: #3B7826;
$okSoft: #58B548;
$okSoft2: #CDEACA;
$information: #4C73A1;
$informationSoft: #C5DBE6;
$informationSoft2: #EAF7FF;
