{namespace femanager=In2\Femanager\ViewHelpers}
<f:layout name="Clean" />

	User / Validate

	Available variables:
	{isValid} Boolean value if validation was correct or not
	{messages} Errormessage from Validator
	{validation} Validation String from HTML (like "required, email, min(10)")
	{value} Value from field
	{fieldname} Fieldname (like "username")
	{user} User Object (only filled when used with edit action)

<f:section name="main">
	<f:if condition="{isValid}">
		<f:then>
			<femanager:Misc.JsonEncode array="{validate: 1}" />
		</f:then>
		<f:else>
			<femanager:Misc.JsonEncode array="{validate: 0, message: '{f:render(partial:\'Misc/ValidationMessages\',arguments:\'{_all}\')}'}" />
		</f:else>
	</f:if>
</f:section>