<f:layout name="Email" />

	Email / CreateNotify

	This mail will be send to the admin, to inform him about a profile creation.
	It's only activated, if there is min. one email in the flexform setting.

	Available variables:
		{user} User Object
		{settings} Array with Flexform and TypoScript settings

<f:section name="main">
	<p><f:translate key="emailCreateNotifySalutation" /></p>

	<p>
		<f:format.printf arguments="{0:user.username}">
			<f:translate key="emailCreateNotifyText1" />
		</f:format.printf>
	</p>

	<p><f:translate key="emailCreateNotifyUserProperties" /></p>
	<f:render partial="Mail/UserProperties" arguments="{_all}" />

	<p>
		<f:translate key="emailCreateAdminConfirmationText2" />
		<br>
		<f:link.action action="confirmCreateRequest" controller="New" absolute="1" arguments="{user:user, hash:hash, status:'adminConfirmationRefused'}">
			<f:translate key="emailCreateAdminConfirmationLinkConfirmRefused" />
		</f:link.action>
	</p>

	<p>
		<f:translate key="emailCreateAdminConfirmationText3" />
		<br>
		<f:link.action action="confirmCreateRequest" controller="New" absolute="1" arguments="{user:user, hash:hash, status:'adminConfirmationRefusedSilent'}">
			<f:translate key="emailCreateAdminConfirmationLinkConfirmRefusedSilent" />
		</f:link.action>
	</p>
</f:section>
