<f:comment>
	@todo: remove template file with V14
</f:comment>
<f:layout name="Email" />

	Email / CreateUserConfirmation

	This mail will be send to the user, to confirm his new profile.
	It's only activated, if the user-confirm-checkbox in the flexform setting was checked.

	Available variables:
		{user} User Object
		{hash} Hash to ensure authentication of link

<f:section name="main">
	<p><f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationSalutation" /> {user.username},</p>

	<p>
		<f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationText1" />
		<br>
		<f:link.action action="confirmCreateRequest" controller="New" absolute="1" arguments="{user:user, hash:hash, status:'userConfirmation'}">
			<f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationLinkConfirm" />
		</f:link.action>
	</p>

	<p>
		<f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationText2" />
		<br>
		<f:link.action action="confirmCreateRequest" controller="New" absolute="1" arguments="{user:user, hash:hash, status:'userConfirmationRefused'}">
			<f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationLinkConfirmRefused" />
		</f:link.action>
	</p>

	<p><f:translate key="LLL:EXT:femanager/Resources/Private/Language/locallang.xlf:emailCreateUserConfirmationSignature" /></p>
</f:section>
