<f:layout name="Email" />

	Email / InvitationRefused

	This mail will be send to the admin when the user refused the profile creation.
	It's only activated, if there is min. one email in the flexform setting (Notify admin on step 1).

	Available variables:
		{user} User Object
		{settings} Array with Flexform and TypoScript settings

<f:section name="main">
	<p><f:translate key="emailInvitationUserRefusedAdminNotifiySalutation" /></p>

	<p>
		<f:format.printf arguments="{0:user.username}">
			<f:translate key="emailInvitationUserRefusedAdminNotifiyText2" />
		</f:format.printf>
	</p>

	<p><f:translate key="emailInvitationUserRefusedAdminNotifiyUserProperties" /></p>
	<f:render partial="Mail/UserProperties" arguments="{_all}" />
</f:section>
