<f:layout name="Clean" />

	Email / Invitation

	This mail will be send to the user, to confirm his new profile and set a password.
	It's everytime activated.

	Available variables:
		{user} User Object
		{hash} Hash to ensure authentication of link

<f:section name="main">
	<p><f:translate key="emailCreateUserConfirmationSalutation" /> {user.username},</p>

	<p>
		<f:translate key="emailCreateUserConfirmationText1" />
		<br>
		<f:link.action action="edit" controller="Invitation" absolute="1" arguments="{user:user, hash:hash'}">
			<f:translate key="emailCreateUserConfirmationLinkConfirm" />
		</f:link.action>
	</p>

	<p>
		<f:translate key="emailCreateUserConfirmationText2" />
		<br>
		<f:link.action action="delete" controller="Invitation" absolute="1" arguments="{user:user, hash:hash'}">
			<f:translate key="emailCreateUserConfirmationLinkConfirmRefused" />
		</f:link.action>
	</p>

	<p><f:translate key="emailCreateUserConfirmationSignature" /></p>
</f:section>