<f:layout name="Email" />

	Email / Invitation

	This mail will be send to the user, to confirm his new profile and set a password.
	It's everytime activated.

	Available variables:
		{user} User Object
		{hash} Hash to ensure authentication of link

<f:section name="main">
	<p><f:translate key="emailInvitationSalutation" extensionName="femanager" /> {user.username},</p>

	<p><f:translate key="emailInvitationText1" extensionName="femanager" /></p>

	<p>
		<f:translate key="emailInvitationText2" extensionName="femanager" />
		<br>
		<f:link.action action="edit" controller="Invitation" absolute="1" arguments="{user:user, hash:hash}">
			<f:translate key="emailInvitationLinkConfirm" />
		</f:link.action>
			<f:translate key="emailInvitationLinkConfirm" extensionName="femanager" />
	</p>

	<p>
		<f:translate key="emailInvitationText3" extensionName="femanager" />
		<br>
		<f:link.action action="delete" controller="Invitation" absolute="1" arguments="{user:user, hash:hash}">
			<f:translate key="emailInvitationLinkConfirmRefused" />
		</f:link.action>
			<f:translate key="emailInvitationLinkConfirmRefused" extensionName="femanager" />
	</p>

	<p><f:translate key="emailCreateUserConfirmationSignature" extensionName="femanager" /></p>
</f:section>
