<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.min.css\')}'}"
		includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/Backend.min.js\')}'}"
		enableClickMenu="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		enableExtJsDebug="false"
		loadJQuery="true"
		jQueryNamespace="defaultNoConflict"
		pageTitle="femanager">

	<div class="overlay"></div>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					&nbsp;
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<f:comment>
				<div class="docheader-row2-left">
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionList')}" controller="Module" action="listBe" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionReporting')}" controller="Module" action="reportingBe" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'BackendSelectionCheck')}" controller="Module" action="checkBe" />
					</f:be.menus.actionMenu>
				</div>
				</f:comment>
				<div class="docheader-row2-right">
					<f:be.pagePath />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render partial="Misc/FlashMessages" arguments="{_all}" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
