{namespace femanager=In2code\Femanager\ViewHelpers}
<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.min.css\')}'}"
		includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/Backend.min.js\')}'}"
		enableClickMenu="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		enableExtJsDebug="false"
		loadJQuery="true"
		jQueryNamespace="defaultNoConflict"
		pageTitle="femanager">

	<div class="module">
		<div class="module-docheader">
			<div class="typo3-docheader-functions">
				<div class="module-docheader-bar module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<f:if condition="{femanager:be.isConfirmationModuleActivated()}">
							<div class="btn-group btn-group-xs" role="group">
								<f:link.action action="list" class="btn btn-default{femanager:Be.GetClassNameOnAction(actionName:'list')}">
									<f:translate key="BackendSelectionList">List</f:translate>
								</f:link.action>
								<f:link.action action="confirmation" class="btn btn-default{femanager:Be.GetClassNameOnAction(actionName:'confirmation')}">
									<f:translate key="BackendSelectionList">Confirmation</f:translate>
								</f:link.action>
							</div>
						</f:if>
					</div>
					<div class="module-docheader-bar-column-right">
						<f:be.pagePath />
					</div>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					&nbsp;
				</div>
				<div class="module-docheader-bar-column-right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body powermail-backend">
			<f:flashMessages as="flashMessages">
				<div class="alert alert-warning">
					<f:for each="{flashMessages}" as="flashMessage">
						<div class="message-body">{flashMessage.message}</div>
					</f:for>
				</div>
			</f:flashMessages>

			<f:render section="main" />
		</div>
	</div>
</f:be.container>
