{namespace femanager=In2code\Femanager\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<f:layout name="Backend" />

UserBackend / List

<f:section name="main">

	<div class="femanager_list">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:render partial="Backend/Searchform" arguments="{_all}" />

		<f:if condition="{users}">
			<f:then>
				<f:be.infobox title="{f:translate(key:'BackendConfirmationNoteTitle', default:'Action')}"
							  state="{f:constant(name: 'TYPO3\CMS\Fluid\ViewHelpers\Be\InfoboxViewHelper::STATE_INFO')}"
							  iconName="actions-info">
					<f:translate key="AdminBackendConfirmationNoteText" arguments="{0:'{f:count(subject:users)}'}"><f:count subject="{users}" /> approval(s)</f:translate>
				</f:be.infobox>

				<femanager:pagination.paginate objects="{users}" as="usersPage" itemsPerPage="100">
					<table class="table table-striped table-hover">
						<thead>
							<tr class="c-headLine">
								<th nowrap="nowrap">
									<f:translate key="BackendConfirmationColumnUid">UID</f:translate>
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.crdate" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.username" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.email" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.name" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.usergroup" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.country" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="tx_femanager_domain_model_user.state" />
								</th>
								<th nowrap="nowrap">
									<f:translate key="BackendConfirmationColumnAction">Actions</f:translate>
								</th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{usersPage.paginator.paginatedItems}" as="user">
								<tr class="db_list_normal firstcol femanager_list_line">
									<td nowrap="nowrap">
										{user.uid}
									</td>
									<td nowrap="nowrap">
										<f:format.date format="d.m.Y H:i">{user.crdate}</f:format.date>
									</td>
									<td nowrap="nowrap">
										{user.username}
									</td>
									<td nowrap="nowrap">
										<f:link.email email="{user.email}">{user.email}</f:link.email>
									</td>
									<td nowrap="nowrap">
										{user.lastName}<f:if condition="{user.lastName}">,</f:if> {user.firstName}
									</td>
									<td nowrap="nowrap">
										<f:for each="{user.usergroup}" as="usergroup" iteration="i">
											<f:if condition="!{i.isFirst}"><br /></f:if>
											{usergroup.title}
										</f:for>
									</td>
									<td nowrap="nowrap">
										{user.country}
									</td>
									<td nowrap="nowrap">
										{user.state}
									</td>
									<td nowrap="nowrap">
										<div class="btn-group" role="group">
											<f:link.action action="confirmUser" arguments="{userIdentifier:user.uid}" title="confirm user" class="btn btn-default">
												<core:icon identifier="actions-check" />
											</f:link.action>
											<f:link.action action="refuseUser" arguments="{userIdentifier:user.uid}" title="refuse user" class="btn btn-default">
												<core:icon identifier="actions-ban" />
											</f:link.action>
										</div>
									</td>
								</tr>
							</f:for>

						</tbody>
					</table>

					<f:alias map="{pagination:usersPage.pagination, paginator:usersPage.paginator, name:usersPage.name}">
						<f:render partial="Misc/Pagination" arguments="{_all}" />
					</f:alias>
				</femanager:pagination.paginate>

			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordsFound" />
					<br />
					<f:if condition="{femanager:Condition.IsBackendAdministratorAuthentication()}">
						<f:link.action action="confirmation" class="underline" additionalParams="{id:0}">
							<f:translate key="noRecordsFoundGoToPage0">Show all users from all pages (for admins only).</f:translate>
						</f:link.action>
					</f:if>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
