{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_city control-group">
	<label for="femanager_field_city" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.city" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'city', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<femanager:form.textfield
				id="femanager_field_city"
				property="city"
				class="input-block-level"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'city')}" />
	</div>
</div>