{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_company form-group">
	<label for="femanager_field_company" class="col-sm-2 control-label">
		<f:translate key="tx_femanager_domain_model_user.company" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'company')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
		<femanager:form.textfield
				id="femanager_field_company"
				property="company"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'company')}" />
	</div>
</div>
