{namespace femanager=In2code\Femanager\ViewHelpers}

<f:render section="default" arguments="{_all}" />




<f:section name="default">
	<div class="femanager_fieldset femanager_country form-group">
		<label for="femanager_field_country" class="col-sm-2 control-label">
			<f:translate key="tx_femanager_domain_model_user.country" />
			<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'country')}">
				<span>*</span>
			</f:if>
		</label>
		<div class="col-sm-10">
			<femanager:form.select
					id="femanager_field_country"
					property="country"
					options="{femanager:Form.GetCountries()}"
					defaultOption="{f:translate(key:'pleaseChoose')}"
					class="form-control"
					additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'country')}" />
		</div>
	</div>
</f:section>




<f:section name="static_info_tables">
	<f:comment><![CDATA[

		// Example how to add a countryselection from static_info_tables (and _de, _fr, etc...)
		// Just install static_info_tables, clear cache and use (default values - key:'isoCodeA3',value:'officialNameLocal',sortbyField:'isoCodeA3',sorting:'asc')
		//      {femanager:Form.GetCountriesFromStaticInfoTables()}
		//
		// some more examples (if you want to configure key and value or sorting)
		//      {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameDe')}
		//      {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA2',value:'shortNameFr',sortbyField:'shortNameFr')}
		//      {femanager:Form.GetCountriesFromStaticInfoTables(key:'isoCodeA3',value:'isoCodeA3',sortbyField:'isoCodeA3',sorting:'asc')}
		// to fill the options


		<femanager:form.select
				id="femanager_field_country"
				property="country"
				options="{femanager:Form.GetCountriesFromStaticInfoTables()}"
				defaultOption="{f:translate(key:'pleaseChoose')}"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'country')}" />

	]]></f:comment>
</f:section>
