{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_dsgvo form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="checkbox">
                <f:form.checkbox
                        id="femanager_field_dsgvo"
                        property="dsgvo"
                        value="dsgvo and conditions"
                        checked="false"
                        additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'dsgvo')}" />
                <f:translate key="tx_femanager_domain_model_user.dsgvo" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'dsgvo')}">
                    <span>*</span>
                </f:if>
                <f:if condition="{settings.misc.dsgvoUrl}">
                    <f:then>
                        (<f:link.page pageUid="{settings.misc.dsgvoUrl}"><f:translate key="tx_femanager_domain_model_user.dsgvolinktext" /></f:link.page>)
                    </f:then>
                </f:if>
            </label>
        </div>
    </div>
</div>
