{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_password form-group">
	<label for="femanager_field_password" class="col-sm-2 control-label">
		<f:translate key="tx_femanager_domain_model_user.password" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
		<f:form.password
				id="femanager_field_password"
				property="password"
				class="form-control"
				value=""
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password')}" />
	</div>
</div>

<div class="femanager_fieldset femanager_password_repeat form-group">
	<label for="femanager_field_password_repeat" class="col-sm-2 control-label">
		<f:translate key="passwordRepeat" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
		<f:form.password
				id="femanager_field_password_repeat"
				name="password_repeat"
				class="form-control"
				value=""
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password_repeat')}" />
	</div>
</div>
