{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_password control-group">
	<label for="femanager_field_password" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.password" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'password', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<f:form.password
				id="femanager_field_password"
				property="password"
				class="input-block-level"
				value=""
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'password')}" />
	</div>
</div>

<div class="femanager_fieldset femanager_password_repeat control-group">
	<label for="femanager_field_password_repeat" class="control-label">
		<f:translate key="passwordRepeat" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'password', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<f:form.password
				id="femanager_field_password_repeat"
				name="password_repeat"
				class="input-block-level"
				value=""
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'password_repeat')}" />
	</div>
</div>