{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_password control-group">
	<label for="password" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.password" />
		<span>*</span>
	</label>
	<div class="controls">
		<f:form.password
				id="password"
				property="password"
				class="input-block-level"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'password')}" />
	</div>
</div>

<div class="femanager_fieldset control-group">
	<label for="password_repeat" class="control-label">
		<f:translate key="passwordRepeat" />
		<span>*</span>
	</label>
	<div class="controls">
		<f:form.password
				id="password_repeat"
				name="password_repeat"
				class="input-block-level"
				value="{user.password}"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'password')}" />
	</div>
</div>