{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_telephone form-group">
	<label for="femanager_field_telephone" class="col-sm-2 control-label">
		<f:translate key="tx_femanager_domain_model_user.telephone" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'telephone')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
		<femanager:form.textfield
				id="femanager_field_telephone"
				property="telephone"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'telephone')}" />
	</div>
</div>
