{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_username control-group">
	<label for="femanager_field_username" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.username" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'username', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<femanager:form.textfield
				id="femanager_field_username"
				property="username"
				class="input-block-level"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'username')}" />
	</div>
</div>