{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_www form-group">
	<label for="femanager_field_www" class="col-sm-2 control-label">
		<f:translate key="tx_femanager_domain_model_user.www" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'www')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
		<femanager:form.textfield
				id="femanager_field_www"
				property="www"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'www')}" />
	</div>
</div>
