{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_www control-group">
	<label for="femanager_field_www" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.www" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'www', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<femanager:form.textfield
				id="femanager_field_www"
				property="www"
				class="input-block-level"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'www')}" />
	</div>
</div>