{namespace femanager=In2\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_zip control-group">
	<label for="femanager_field_zip" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.zip" />
		<f:if condition="{femanager:Misc.IsRequiredField(fieldName: 'zip', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<femanager:form.textfield
				id="femanager_field_zip"
				property="zip"
				class="input-block-level"
				additionalAttributes="{femanager:Misc.FormValidationData(settings:'{settings}',fieldName:'zip')}" />
	</div>
</div>