<f:if condition="{showApprovalStep}">
	<div class="col-sm-12 col-sm-offset-2">
		<h3>
			<f:translate key="formConfirmActionText" />
		</h3>
	</div>
	<fieldset>
		<div class="col-sm-12 col-sm-offset-2">
			<p><f:translate key="{languageKeyText}" arguments="{0:user.username}" /></p>
		</div>
		<div class="femanager_fieldset femanager_submit form-group">
			<f:form action="{actionName}" method="POST" controller="{controllerName}" absolute="1" addQueryString="1">
				<f:form.hidden name="approve" value="1" />
				<f:form.hidden name="user" value="{user.uid}" />
				<f:form.hidden name="hash" value="{hash}" />
				<f:form.hidden name="status" value="{status}" />
				<div class="col-sm-12 col-sm-offset-2">
					<f:form.submit
						value="{f:translate(key:languageKeySubmitButton)}"
						id="femanager_field_submit"
						class="btn btn-primary btn-large" />
				</div>
			</f:form>
		</div>
	</fieldset>
</f:if>
