<f:if condition="{paginator.numberOfPages} > 1">
	<nav aria-label="pagebrowser">
		<ul class="f3-widget-paginator pagination">
			<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
				<li class="previous">
					<a href="{femanager:pagination.uri(arguments:'{currentPage:pagination.previousPageNumber}',name:name)}" title="previous" class="page-link">
						&lt;
					</a>
				</li>
			</f:if>
			<f:if condition="{pagination.hasLessPages}">
				<li class="page-item">…</li>
			</f:if>
			<f:for each="{pagination.allPageNumbers}" as="page">
				<f:if condition="{page} == {paginator.currentPageNumber}">
					<f:then>
						<li class="page-item current active">
							<span class="page-link">{page}</span>
						</li>
					</f:then>
					<f:else>
						<li class="page-item">
							<a href="{femanager:pagination.uri(arguments:'{currentPage:page}',name:name)}" class="page-link">{page}</a>
						</li>
					</f:else>
				</f:if>
			</f:for>
			<f:if condition="{pagination.hasMorePages}">
				<li class="page-item">…</li>
			</f:if>
			<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
				<li class="next">
					<a href="{femanager:pagination.uri(arguments:'{currentPage:pagination.nextPageNumber}',name:name)}" title="next" class="page-link">
						&gt;
					</a>
				</li>
			</f:if>
		</ul>
	</nav>
</f:if>