[general]
project     = Femanager
version     = 7
release     = 7.2.1
copyright   = since 2013 by the in2code GmbH
t3author    = in2code GmbH
description = …


[html_theme_options]

github_branch        = master
github_repository    = in2code-de/femanager

project_contact      =
project_discussions  =
project_home         = https://github.com/in2code-de/femanager
project_issues       = https://github.com/in2code-de/femanager/issues
project_repository   = https://github.com/in2code-de/femanager


[intersphinx_mapping]

t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/
t3tca         = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/

# # TYPO3 official docs
# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3contribute  = https://docs.typo3.org/m/typo3/guide-contributionworkflow/master/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3viewhelper  = https://docs.typo3.org/other/typo3/view-helper-reference/master/en-us/
#
# # TYPO3 system extensions
# ckedit        = https://docs.typo3.org/c/typo3/cms-rte-ckeditor/master/en-us/
# form          = https://docs.typo3.org/c/typo3/cms-form/master/en-us/
# fsc           = https://docs.typo3.org/c/typo3/cms-fluid-styled-content/master/en-us/
# sched         = https://docs.typo3.org/c/typo3/cms-scheduler/master/en-us/
# t3core        = https://docs.typo3.org/c/typo3/cms-core/master/en-us/
# t3dashboard   = https://docs.typo3.org/c/typo3/cms-dashboard/master/en-us/
# workspaces    = https://docs.typo3.org/c/typo3/cms-workspaces/master/en-us/
